<h1>Details Equipement {{ equipement.id }}</h1>
<ul>
    <li>Nom: {{ equipement.nom }}</li>
    <li>Etat: {{ equipement.etat }}</li>
    <li>Disponibilité: {{ equipement.disponible }}</li>
</ul>

<h2>Edit Equipement</h2>
<form action="?controller=equipement&action=listEquipementParId" method="post">
    <input type="hidden" name="id" value="{{ equipement.id }}">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" value="{{ equipement.nom }}" required>

    <label for="etat">Etat:</label>
    <input type="text" id="etat" name="etat" value="{{ equipement.etat }}" required>

    <label for="disponible">Disponibilite:</label>
    <input type="text" id="disponible" name="disponible" value="{{ equipement.disponible }}" required>

    <button type="submit">Mise a jour</button>
</form>
